/Screenshot from 2023-10-13 15-05-40.png
/Screenshot from 2023-10-20 12-45-10.png
/Screenshot from 2023-11-10 15-05-52.png
/Serialize.py
/a_result_00_and_10pct_0001.pkl
/a_result_400_and_10pct.pkl
/a_result_400_only.pkl
/a_result_600_and_10pct_00001.pkl
/a_result_diff_and18.pkl
/a_result_diff_andmore.pkl
/a_result_diff_only.pkl
/all_data
/compare.py
/confidence_85_2000.png
/diff_only.png
/diffand18.png
/diffandmore.png
/domain_2_unstack.pddl
/generate_middle_state.py
/plot_comparision.py
/problem_plan_diff_4
/problem_plan_diff_5
/problem_plan_diff_5_retiered
/retire_4_cube
/retire_5_cube
/step1_problem_generation.py
/step3_export_state.py
/temp
/test_sort_2